button {
  border: 1px solid rgb(220, 217, 217);
  margin-right: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0, 3s ease;
  &:last-child {
    margin-right: 0;
  }
}
button:hover {
  border: 2px solid rgb(155, 154, 154);
  outline: none;
  background-color: rgb(230, 230, 230);
  box-shadow: none;
}
button:focus {
  outline: none;
}
